.col1{
    font-size: initial;
    width: 200px;
    height: 500px;
    background-color: #f7c0e2;
    display: inline-block;
    vertical-align: top;
  }
  .col2{
    width: calc(100% - 200px - 300px);
    height: 500px;
    background-color: #ef73c0;
    display: inline-block;
    vertical-align: top;
  }
  .col3{
    font-size: initial;
    width: 300px;
    height: 500px;
    background-color: #d12e93;
    display: inline-block;
    vertical-align: top;
  }
  
  .row{
    font-size: 0;
  }
  
  .col4{
    font-size: initial;
    height: 50px;
    min-height: 50px;
    background-color: #bed4f7;
    overflow-y :scroll;
  }
  
  .col5{
    font-size: initial;
    height: 400px;
    width: calc(100% - 400px);
    display: inline-block;
    vertical-align: top;
  }
  
  .col6{
    font-size: initial;
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: #7d9ac9;
  }